<div *ngIf="reyBlancoJaque||reyNegroJaque" class="jaque">
    <h3>¡Jaque!</h3>
</div>

<div class="contenedor">
    <table id="tablero">

        <tr>
            <td class="borde"></td>
            <td class="borde">A</td>
            <td class="borde">B</td>
            <td class="borde">C</td>
            <td class="borde">D</td>
            <td class="borde">E</td>
            <td class="borde">F</td>
            <td class="borde">G</td>
            <td class="borde">H</td>
            <td class="borde"></td>
        </tr>

        <tr *ngFor="let fila of juego.tablero.casillas; let i = index">
            <td s class="borde">{{8-i}}</td>
            <td *ngFor="let casilla of fila; let j = index" class="casilla" (mouseup)="mover(i,j)" (mousedown)="piezaSeleccionada(casilla, juego.tablero)" [ngClass]="{casillaNegra:casillaNegra(i,j)}">
                <div *ngIf="casilla.jugador == 1">
                    <img src="assets\Media\PiezasNegras\Rey.png" *ngIf="casilla.nombre == 'Rey'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Reina.png" *ngIf="casilla.nombre == 'Reina'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Alfil.png" *ngIf="casilla.nombre == 'Alfil'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Caballo.png" *ngIf="casilla.nombre == 'Caballo'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Peon.png" *ngIf="casilla.nombre == 'Peon'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Torre.png" *ngIf="casilla.nombre == 'Torre'" class="imagen" draggable="false">
                </div>
                <div *ngIf="casilla.jugador == 0">
                    <img src="assets\Media\PiezasBlancas\Rey.png" *ngIf="casilla.nombre == 'Rey'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Reina.png" *ngIf="casilla.nombre == 'Reina'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Alfil.png" *ngIf="casilla.nombre == 'Alfil'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Caballo.png" *ngIf="casilla.nombre == 'Caballo'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Peon.png" *ngIf="casilla.nombre == 'Peon'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Torre.png" *ngIf="casilla.nombre == 'Torre'" class="imagen" draggable="false">
                </div>
            </td>
            <td class="borde">{{8-i}}</td>
        </tr>
        <tr>
            <td class="borde"></td>
            <td class="borde">A</td>
            <td class="borde">B</td>
            <td class="borde">C</td>
            <td class="borde">D</td>
            <td class="borde">E</td>
            <td class="borde">F</td>
            <td class="borde">G</td>
            <td class="borde">H</td>
            <td class="borde"></td>
        </tr>
    </table>

</div>