.contenedor {
    margin: 5px auto;
}

#tablero {
    margin: 1% auto;
}

.casilla {
    width: 100px;
    height: 100px;
    border: solid black;
}

.casillaNegra {
    background-color: rgb(131, 130, 130);
    width: 100px;
    height: 100px;
}

.imagen {
    width: 90px;
    height: 90px;
}

.Letras {
    width: 100px;
    height: 100px;
}