<div class="contenedor">
    <table id="tablero">
        <tr *ngFor="let fila of juego.tablero.casillas; let i = index">
            <td style="text-align: center; font-size: 35px;">{{8-i}}</td>
            <td *ngFor="let casilla of fila; let j = index" class="casilla" (mouseup)="mover(i,j)" (mousedown)="piezaSeleccionada(casilla, juego.tablero)" [ngClass]="{casillaNegra:casillaNegra(i,j)}">
                <div *ngIf="casilla.jugador == 1">
                    <img src="assets\Media\PiezasNegras\Rey.png" *ngIf="casilla.nombre == 'Rey'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Reina.png" *ngIf="casilla.nombre == 'Reina'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Alfil.png" *ngIf="casilla.nombre == 'Alfil'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Caballo.png" *ngIf="casilla.nombre == 'Caballo'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Peon.png" *ngIf="casilla.nombre == 'Peon'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasNegras\Torre.png" *ngIf="casilla.nombre == 'Torre'" class="imagen" draggable="false">
                </div>
                <div *ngIf="casilla.jugador == 0">
                    <img src="assets\Media\PiezasBlancas\Rey.png" *ngIf="casilla.nombre == 'Rey'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Reina.png" *ngIf="casilla.nombre == 'Reina'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Alfil.png" *ngIf="casilla.nombre == 'Alfil'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Caballo.png" *ngIf="casilla.nombre == 'Caballo'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Peon.png" *ngIf="casilla.nombre == 'Peon'" class="imagen" draggable="false">
                    <img src="assets\Media\PiezasBlancas\Torre.png" *ngIf="casilla.nombre == 'Torre'" class="imagen" draggable="false">
                </div>
            </td>
        </tr>
        <tr style="text-align: center; font-size: 30px;">
            <td class="Letras"></td>
            <td class="Letras">A</td>
            <td class="Letras">B</td>
            <td class="Letras">C</td>
            <td class="Letras">D</td>
            <td class="Letras">E</td>
            <td class="Letras">F</td>
            <td class="Letras">G</td>
            <td class="Letras">H</td>
        </tr>
    </table>
    <div>
        <h1>Rey Balnco jaque : {{reyBlancoJaque}}</h1>
        <h1>Rey Negro jaque : {{reyNegroJaque}}</h1>
    </div>

</div>